* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.wrapper {
	width: 95%;
	margin: 0 auto;
}

/* HEADER */
header {
	padding: 27px 0;

	background: linear-gradient(85.36deg, #FCCE4D -16.27%, #F2B918 70.38%, #F2B918 70.38%, #F2B918 70.38%, #F2B918 70.38%);

	& .wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& .right-side {
		width: 75vw;
		}
	& .right-side_top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .right-side_city {
			border-bottom: 1px dashed #000000;
			position: relative;
			cursor: pointer;

			margin-left: 25px;

			&::before {
				content: "";
				display: block;

				position: absolute;
				left: -25px;
				top: -5px;

				width: 30px;
				height: 30px;
				margin-right: 20px;

				background: url("../../img/location.png") no-repeat;
			}
		}

		& form {
			display: flex;
			justify-content: space-between;
			align-items: center;

			width: 30vw;
			padding: 20px 22px;

			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 100px;

			& input[type="search"] {
				background-color: transparent;
				width: 90%;
				border: none;

				&:focus {
					outline: none;
				}
			}
		}

		& .right-side_order {
			display: flex;
			align-items: center;

			& .right-side_phone-number {
				margin-right: 20px;
			}

			& .right-side_call {
				padding: 13px 20px;

				color: #171717;
				background-color: rgba(255, 255, 255, 0.5);
				border-radius: 100px;

				transition: all 0.7s;

				&:hover {
					transition: all 0.7s;
					box-shadow: 0px 0px 10px 2px #8D8D8D;
					background-color: #FFFFFF;
				}
			}
		}
	}
	& .right-side_bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 40px;

		& .right-side_navigation ul {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& li {
				margin-right: 32px;
				position: relative;

				& a {
					color: #171717;

					&:hover {
						text-decoration: underline;
					}

					&.right-side_active {
						padding: 15px;

						background: rgba(255, 255, 255, 0.5);
						border-radius: 100px;
					}
				}

				&:first-child {
					margin-right: 46px;
				}

				&:first-child::after {
					content: "";
					display: block;

					position: absolute;
					right: -20px;
					top: 5px;

					width: 15px;
					height: 15px;

					background: url('../../img/down_arrow.png') no-repeat;
				}
			}
		}
		& .right-side_account-buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .right-side_button {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				position: relative;

				transition: all 0.7s;

				&:hover  a{
					transition: all 0.7s;
					box-shadow: 0px 0px 10px 2px #8D8D8D;
					background-color: #FFFFFF;
				}

				&:not(:last-child) {
					margin-right: 47px;
				}

				& a{
					display: flex;
					width: 70px;
					height: 70px;

					margin-bottom: 10px;

					border-radius: 50%;
					background-color: rgba(255, 255, 255, 0.5);

					position: relative;

					& img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				& .right-side_in-basket {
					line-height: 20px;
					text-align: center;

					display: block;
					width: 20px;
					height: 20px;

					position: absolute;
					top: 15px;
					right: 10px;

					border-radius: 50%;
					background-color: #F2B918;
				}
			}
		}
	}
}

/* HEADER */

/* MAIN */
main {
	padding: 60px 0 80px 0;

	background-color: #171717;

	& .news-list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 60px;

		& .news-item {
			position: relative;

			color: #F0F0F0;
			border: 1px solid #F2B918;
			border-radius: 34px;

			&:not(:last-child) {
				margin-right: 25px;
			}

			& img {
				width: 100%;
				height: 100%;

				margin-top: 2px;

				border-radius: 34px;

				object-fit: cover;
			}

			& .news-title {
				position: absolute;
				bottom: 0;

				padding: 15px 20px;
			}
		}
	}

	& .news_active-news {
		color: #F0F0F0;


		& .news_title {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			margin-bottom: 50px;

			& h1 {
				font-size: 60px;
				font-weight: 700;
			}

			& .news-hashtag {
				font-size: 24px;
			}

			& time {
				font-size: 16px;
				font-weight: 300;

				margin-top: 20px;
			}
		}

		& .news_content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			& p {
				font-size: 18px;
				line-height: 28px;
				text-align: justify;

				&:not(:last-child) {
					margin-bottom: 15px;
				}

				&:last-child {
					padding-left: 10px;

					border-left: 2px solid #F2B918;
				}
			}

			& img {
				width: 555px;
				height: 358px;

				object-fit: cover;
			}
		}
	}
}


footer {
	width: 100%;
	height: 288px;

	padding: 100px 100px 70px 100px;

	background: url('../../img/bg_footer.png') no-repeat;

	display: flex;
	justify-content: space-between;
	align-items: center;

	& a {
		font-size: 18px;

		color: #F0F0F0;
	}

	& .footer_left-side_navigation nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}

	& .footer_logo {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-right: 30px;

		& .footer_copyright {
			font-size: 14px;

			margin-top: 15px;

			color: #F0F0F0;
		}
	}

	& .footer_right-side_navigation {
		& li:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	& .footer_social-media {
		align-self: flex-end;
	}

	& .footer_social-media ul {
		display: flex;
		align-items: center;

		& li:not(:last-child) {
			margin-right: 20px;
		}
	}
}